@model IEnumerable<MasjidManagement.Models.Volunteer>

@{
	ViewData["title"] = "Volunteer List";
}

<div class="container mt-4">
	<a class="btn btn-primary" asp-action="Create" role="button">Create new volunteer</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Volunteer Name</th>
			<th>Role</th>
			<th>contact Number</th>

		</tr>
	</thead>

	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.VName</td>
				<td>@item.VRole</td>
				<td>@item.VContactNumber</td>

				<td>
					<a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>