@model IEnumerable<LibraryManagement.Models.Category>

@{
	ViewData["Title"] = "Boook category";
}

<div class="container mt-4">
	<a class="btn btn-primary" asp-action="Create" role="button">Create category</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>description</th>
			<th>Created date</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>@item.CreatedDate</td>

				<td>
					<a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>