@model IEnumerable<UniversityManagement.Models.Student>

@{
	ViewData["title"] = "Student List";
}

<h1>Student List</h1>

<div class="container mt-4">
	<a class="btn btn-primary" asp-action="Create" role="button">Create new student</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Student ID</th>
			<th>Student Name</th>
			<th>Enrollment Date</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.StId</td>
				<td>@item.StFullName</td>
				<td>@item.StEnrollmentDate</td>
				<td>
					<a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</td>

			</tr>
		}
	</tbody>

</table>