@model IEnumerable<LibraryManagement.Models.Book>

@{
	ViewData["Title"] = "List of Books";

}

<h1>List of Book</h1>

<div class="container mt-4">
	<a class="btn btn-primary" asp-action="Create" role="button">Create Book</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Auther name</th>
			<th>ISBN</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.Auther</td>
				<td>@item.ISBN</td>

				<td>
					<a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</td>
			</tr>
		}
	</tbody>

</table>