@model IEnumerable<UniversityManagement.Models.Exam>

@{
	ViewData["title"] = "Exam List";
}

<h1>Exam List</h1>

<div class="container mt-4">
	<a class="btn btn-primary" asp-action="Create" role="button" >Create Exam</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Exam Name</th>
			<th>Exam Date</th>
			<th>Total Marks</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.ExamName</td>
				<td>@item.ExamDate</td>
				<td>@item.TotalMarks</td>
				<td>
					<a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>