@model IEnumerable<UniversityManagement.Models.Department>

@{
	ViewData["title"] = "department List";
}

<h1>Department List</h1>

<div class="container mt-4">
	<a class="btn btn-primary" asp-action="Create" role="button">Create Department</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Dept Name</th>
			<th>Dept Head</th>
			<th>Established Year</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.DeptName</td>
				<td>@item.DeptHead</td>
				<td>@item.EsatablishedYear</td>
				<td>
					<a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>