@model IEnumerable<LibraryManagement.Models.Loan>

@{
	ViewData["Title"] = "Book Loan";
}

	<h1>Loan Details</h1>

	<div class="container mt-4">
		<a class="btn btn-primary" asp-action="Create" role="button">Create Loan book</a>
	</div>

	<table class="table">
		<thed>
			<tr>
			<th>Book ID</th>
			<th>Member ID</th>
			<th>Due Date</th>
		</tr>
		</thed>

		<tbody>
			@foreach(var item in Model)
			{
			<tr>
				<td>@item.BookId</td>
				<td>@item.MemberId</td>
				<td>@item.DueDate</td>

				<td>
					<a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</td>
			</tr>
		}
		</tbody>
	</table>